body{
    scroll-behavior: smooth;
    background: #343a40;
    overflow-x: hidden;
}

main{
    margin-top: 150px;
}

footer{
    color: white;
}
#formError{
    display: none;
    text-align: left;
}